<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='comic.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
        <script>
            $(document).ready(function(){
                $(".alert-danger").fadeOut(5000);
                $(".close").click(function(){
                    $(".alert-danger").fadeOut();
                });

                $(".alert-success").fadeOut(5000);
                $(".open").click(function(){
                    $(".alert-success").fadeOut(2000);
                });

                $(".burger-nav").click(function(){
                    $("div.nv").toggleClass("open");
                });
            });
        </script>
        <style>
            button:hover {
                opacity: 0.5;
            }
            @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
        </style>
    </head>
    <body>
        <header>
            {% include "_nav.html" %}
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger" style="background-color:rgb(209, 88, 88);
            height: 50px; color: rgb(255, 180, 180); padding: 15px; margin-left: 20px;margin-right: 20px;
            align-content: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                {{ message }}
                <button type="button" class="close" style="background-color:inherit; float: right; color:rgb(77, 3, 3); border: none;">✘</button> 
            </div>
            {% else %}
            <div class="alert alert-success" style="background-color:rgb(59, 187, 238);
            height: 50px; color: rgb(30, 30, 230); padding: 15px; margin-left: 20px;margin-right: 20px;
            align-content: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                {{ message }}
                <button type="button" class="open" style="background-color:inherit;float: right; color:rgba(30, 30, 230); border: none;">✔</button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="prediction-alert alert-danger" style="background-color:rgb(167, 5, 5);
            height: 50px; width:50%; color: rgb(255, 180, 180); padding: 15px; margin-left: 20px;margin-right: 20px;
            align-content: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                {{ message }}
                <button type="button" class="close" style="background-color:inherit; float: right; color:rgb(77, 3, 3); border: none;">✘</button> 
            </div>
            {% else %}
            <div class="prediction-alert alert-success" style="background-color:rgb(59, 187, 238);
            height: 50px; width:50%; color: rgb(30, 30, 230); padding: 15px; margin-left: 20px;margin-right: 20px;
            align-content: center; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                {{ message }}
                <button type="button" class="open" style="background-color:inherit;float: right; color:rgba(30, 30, 230); border: none;">✘</button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% endblock %}
        <footer>
            {% include "_footer.html" %}
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/fraud_detective/static/menu.js"></script>
</html>
